$bg-grey: #eff2f7;
$bg-white: #ffffff;
$text-grey-dark: #3c4858;
$text-grey: #768da7;
$text-grey-description: #9f9fa0;
$highlight-green: #13ce66;
$highlight-blue: #1fb6ff;
$grey-light: #f4f7fd;
$grey-light-border: #dadde1;
$blue-light-active: #eef9ff;
$blue-light-border: #65c6f4;
